.album {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.album img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.album img:hover {
    transform: scale(1.05);
}
