/* ===== RESET CƠ BẢN ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY CHUNG ===== */
body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: rgb(253, 236, 255);
    color: #333;
    line-height: 1.6;
}

/* ===== CONTAINER CHUNG ===== */
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* ===== TIÊU ĐỀ ===== */
h1 {
    font-size: 32px;
    color: #b14fc5;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-top: 12px;
    color: #7a2f8f;
}

/* ===== ĐOẠN VĂN ===== */
p {
    font-size: 16px;
    margin-left: 10px;
    color: #555;
}
